<<<<<<< HEAD
  <div class="specific_user">
  <h2><%= @person.username %>&rsquo;s picks</h2>
</div><!-- specific_user -->

<div data-behavior="pagination">
=======
<div data-behavior="pagination">
  <h2><%= @person.name %>&rsquo;s picks</h2>
>>>>>>> 355d2c645fef27f8acef841528f3d71300732adc
  <%= render @videos %>
</div>

<%= will_paginate @videos %>
