<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <link rel="stylesheet" type="text/css" media="all" href="/stylesheets/application.css" />
  <title>Clap Left Handed</title>
</head>
<body>
  <p class = 'words'>FUCK YEAH!</p>
</body>
</html>