<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <link rel="stylesheet" type="text/css" media="all" href="/stylesheets/application.css" />
  <link rel="stylesheet" type="text/css" media="all" href="/stylesheets/reset.css" />
  <title>The Video Feed</title>
</head>
  <body>
    <div class='video_bar'>
      <div class= 'video_wrapper'>
         <div class='youtube'>
            <div class = 'youtube_border'>
            <iframe width="320" height="180" src="http://www.youtube.com/embed/leaDaaux5lg" frameborder="0" allowfullscreen></iframe>
            </div><!-- #youtube_border -->
          </div><!-- #youtube -->
          <div class= 'video_info'>
            <p class = 'video_title'>Lazer Ghosts 2: Return to Laser Cove </p>        
            <p class = 'user'>Trevor Turk</p>
          </div><!-- video_info -->
      </div><!-- video_wrapper -->
        <div class='youtube'>
           <div class = 'youtube_border'>
           <iframe width="320" height="180" src="http://www.youtube.com/embed/6KBo7vzrHGY" frameborder="0" allowfullscreen></iframe>
           </div><!-- #youtube_border -->
         </div><!-- #youtube -->
    </div><!-- #video_bar -->
    <div class='video_bar'>
      <p class = 'words'>HULA BROWNIES!</p>
    </div>
    <div class='video_bar'>
      <p class = 'words'>HULA BROWNIES!</p>
    </div>
    <div class='bottom_bar'>
      <div class ='content'>
        <p class = 'copy'>HOME</p>
        <div class ='hairline'></div>
        <p class = 'copy'>ABOUT</p>
      </div>
    </div>
    
  </body>
</html>