body {
	background-image:url('/images/light_gray_grid.png');
	}

.words {
	text-align:center;
	font: 20px Arial;
	Color:black;
}

.video_bar{
	margin:35px 0px;
	width:100%;
	height:270px;
	background-image:url('/images/gray_grid.png');
}


.video_wrapper{
		display:inline-block;
		padding: 18px 65px;
	width: 300px;
	border-width:1px;
	border-color:red;
	border-style:solid;
}

.youtube{
	display:inline-block; 
	vertical-align: top;
}

.youtube_border{
	width:320px;
	height:180;
	background:rgba(221, 219, 220, 0.3);
	padding:10px 10px 6px 10px;
}	

.video_info{
	margin:5px 0px 0px 10px;
}


.video_title{
	font: 13px arial black;
	color:#C4C2C2;	
}

.user{
	font: 13px arial;
	color:#C4C2C2;
}




.bottom_bar{
	margin:35px 0px;
	width:100%;
	height:40px;
	background-image:url('/images/gray_grid.png');
}


.bottom_bar .content {
	width:175px;
	height:25px;
	margin: 0px auto;
	padding: 13px 0px 0px 0px;	
	opacit: .75;
}

.bottom_bar .content .copy {
	font: 13px arial;
	color:#C4C2C2;	
	float:left;
}


.hairline {
		background-image: url('/images/pix.png'); 
		width: 1px;
		height: 14px;
		float:left;
		margin: 0px 45px; 
}