body { margin: 20px 40px; color: #111; }
a { color: #3465a4; text-decoration: none; }
a:hover { text-decoration: underline; }
h1 { font-size: 30px; margin-bottom:10px;}
h1 a { color: #111; }
h2 { border-top: 1px solid #dedede; border-bottom: 1px solid #dedede; padding:5px 0; margin-bottom:5px;}
p { margin: 1em 0; }
#navigation {float:right;}
#navigation span {color:#dedede;}
#users { text-align:right;}
#footer {text-align:center; margin-top:50px; padding-bottom:50px;}
#flash div {text-align:center; padding:5px 0; margin-bottom:15px;}
.pad_top {margin-top:20px;}
.disabled, .pending {color:#999;}
.small {color:#999;font-size:90%;}
.error {color:#8a1f11;font-weight:bold;}
.success {color:#264409;}
.hint {font-size:0.8em; color:#999; margin-top:-15px; margin-bottom: 25px;}