<div id="<%= "follow-#{user.id}" %>">
  <% if user_signed_in? && current_user == user %>
    <%= button_to "this is you", user %>
  <% elsif user_signed_in? && current_user.following?(user) %>
    <%= button_to "unfollow", user_unfollow_path(user), :remote => true %>
  <% else %>
    <%= button_to "follow", user_follow_path(user), :remote => true %>
  <% end %>
</div>