<div class='video'>
  <%= link_to video_embed(video), class: 'fancybox iframe' do %>
    <%= image_tag video_thumb(video) %>

    <div class="overlay">
      <div class="big_user">
        <p>uploaded by</p>
        <p class= "play"><%= video.first_person.username %><p>
      </div><!-- big_user -->
    </div><!-- overlay -->
    <div class="video_title">
      <p><%= video.title %><p>
    </div><!-- video_title -->
  <% end %>
</div><!-- video -->
