<div class="grid_9">

  <h2>new videos</h2>

  <div id="videos">
    <%= render @videos %>
  </div>

  <div id="pageless"></div>
  <%= will_paginate @videos %>
  <%= pageless @videos.total_pages, videos_path %>

</div>

<div class="grid_3">

  <p>...</p>

</div>
