<div id="signup">
	<%= render 'subscribers/form' %>
</div>

<% if flash[:notice] %>
  <p class="message"><%= flash[:notice] %></p>
<% end %>

<div id="videos">
  <%= render @videos %>
</div>

<%= will_paginate @videos %>
