<div class="grid_10">

  <h2>recent videos</h2>

  <%= render 'posts/form' if user_signed_in? %>

  <div id="videos">
    <% @videos.each do |video| %>
    <div class="video">
      <p><%=raw video.html %></p>
    </div>
    <% end if @videos %>
  </div>

  <div id="results"></div>
  <%= will_paginate(@videos) %>
  <%= pageless(@videos.total_pages, videos_path) %>

</div>

<div id="users" class="grid_2">

  <h2>sidebar</h2>

  <p>...</p>

</div>
