<div class="grid_9">

  <h2><%= @video %></h2>

  <div class="video">
    <p><%=raw @video.embedly['html'] %></p>
    <p>
      Posted by:
      <% @video.posts.each do |post| %>
        <%= link_to post.user, post.user %>&nbsp;
      <% end %>
    </p>
  </div>

</div>

<div class="grid_3">

  <p>...</p>

</div>
