<div id="nav-left" class="grid_9 nav">
  <ul>
    <li><%= link_to 'your feed', feed_path %></li>
    <li><%= link_to 'new videos', videos_path %></li>
    <li><%= link_to 'all users', users_path %></li>
  </ul>
</div><!-- nav-left -->
<div id="nav-right" class="grid_3 nav">
  <ul>
    <li><%= link_to 'sidebar', '#' %></li>
  </ul>
</div><!-- nav-right -->
