<div class="grid_10">

  <h2>your feed</h2>

  <%= render 'posts/form' if user_signed_in? %>

  <div id="videos">
    <%= render @feed_items %>
  </div>

  <div id="results"></div>
  <%= will_paginate @feed_items %>
  <%= pageless @feed_items.total_pages, feed_path %>

</div>

<div id="users" class="grid_2">

  <h2>sidebar</h2>

  <p>...</p>

</div>
