/*
 *= require_self
 *= require_tree .
*/

body {
  text-align: center;
}

header {
  position: fixed;
  top: 0;
  left: 0;
}

article {
  padding-top: 10px;
}

h1 {
  margin-top: 0;
}

a, a:active, a:hover, a:visited {
  color: black;
}

div#subscribers {
  margin: 20px 0;
  padding: 10px 0;
  border-top: 1px solid #eee;
}

div#people p {
  margin: 0;
}
