/*
 *= require_self
 *= require_tree .
*/

body {
  text-align: center;
}

header {
  position: fixed;
  top: 0;
  left: 0;
}

article {
  padding-top: 10px;
}

h1 {
  margin-top: 0;
}

a:visited {
  color: black;
}
